/**
 * @file
 * Commerce B2B toolbar icon styling.
 */

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-commerceg-b2b-admin:before {
  background-image: url("../icons/787878/briefcase-solid.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-commerceg-b2b-admin:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-commerceg-b2b-admin.is-active:before {
  background-image: url("../icons/000000/briefcase-solid.svg");
}
